.authorInput{
    margin: 10px 0 20px 0;
}
.submit{
   margin-top: 10px;
  background: #00a3f7;
  color: #fff;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor:pointer;
}